<h3> Sign Up </h3>
<% if current_user.level == 0  %>
<div class="sign-form">

  <%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <div class="row" style="display:inline-block;width:100%;text-align:center;">
      <div class="four columns">
        <%= f.label "Admin" %>
          <div class="radio" style="margin-left:50%;">
              <%= f.radio_button(:level, 0)%>
          </div>
      </div>
      <div class="four columns">
        <%= f.label "Employee" %>
        <div class="radio">
            <%= f.radio_button(:level, 1)%>
        </div>
      </div>
      <div class="four columns">
        <%= f.label "Cook" %>
        <div class="radio">
            <%= f.radio_button(:level, 2)%>
        </div>
      </div>
    </div>
    <%= f.submit %>
  <% end %>
</div>
<% else %>
  <h2> You don't have administrative access. </h2>
<% end %>
