<h1> <%= current_user.email %> </h1>

<% if current_user.email == "worker@gmail.com" %>
<form action="users/<%=current_user.id%>/orders/new">
  <input type="submit" value="Create an Order">
</form>
<form action="users/<%=current_user.id%>/orders">
  <input type="submit" value="See your Orders">
</form>
<%= button_to "Log-Out", sessions_path, method: :delete %>
<% else %>
<form action="users/<%=current_user.id%>/orders">
  <input type="submit" value="See all Orders">
</form>
<%= button_to "Log-Out", sessions_path, method: :delete %>
<% end %>
