
<% if current_user.level == 0 %>
<h3> Create a Table </h3>

<div class="create-table">
  <%= form_for @table do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
    <%= f.submit %>
  <% end %>
  <% if flash[:error] %>
    <% flash[:error].each do |error| %>
      <p class="error" style="color:red;font-size:60px;"><%= error %></p>
    <% end %>
  <% end %>
</div>
<% else %>
  <h2> You don't have administrative access. </h2>
<% end %>
