
<% if current_user.email == "admin@gmail.com" %>
<h3> Create a Table </h3>
  <%= form_for @table do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
    <%= f.submit %>
  <% end %>
<% else %>
  <h2> You don't have administrative abilities to create a table. </h2>
<% end %>
