
<% if current_user.nil? || current_user.email == "worker@gmail.com" || current_user.email == "cook@gmail.com" %>
<ul>
  <% @foods.each do |food| %>
  <li>
    <%= food.id %>,<%= food.name %> - $<%= food.price %></br>
    <%= food.description %></br>
  </li>
  <% end %>
</ul>
<% elsif current_user.email == "admin@gmail.com" %>
<ul>
  <% @foods.each do |food| %>
  <li>
    <%= food.id %>,<%= food.name %> - $<%= food.price %></br>
    <%= food.description %></br>
    <form action="foods/<%= food.id %>/edit">
      <input type="submit" value="Edit">
    </form>
  </li>
  <% end %>
</ul>
<form action="/foods/new">
  <input type="submit" value="Create a Food Item">
</form>
<% end %>
