
<% if current_user.nil? || current_user.level == 1 || current_user.level == 2 %>

<h3 class="menu" style="font-size:90px;"> Shaky Shack Menu </h3>

<div class="food">
  <h5> Burgers </h5>
  <ul>
    <% @foods.each do |food| %>
    <% if food.category == "Burger" %>
    <li>
      <strong><%= food.name %> - $<%= food.price/100.00 %></strong></br>
      <p><%= food.description %></p></br>

    </li>
    <% end %>
    <% end %>
  </ul>

  <h5> Drinks </h5>
  <ul>
    <% @foods.each do |food| %>
    <% if food.category == "Drink" %>
    <li>
      <strong><%= food.name %> - $<%= food.price/100.00 %></strong></br>
      <p><%= food.description %></p></br>

    </li>
    <% end %>
    <% end %>
  </ul>

</div>
<% elsif current_user.level == 0  %>
<h3 class="menu" style="font-size:90px;"> Shaky Shack Menu </h3>

<div class="food">
  <h5> Burgers </h5>
  <ul>
    <% @foods.each do |food| %>
    <% if food.category == "Burger" %>
    <li>
      <strong><%= food.name %> - $<%= food.price/100.00 %></strong></br>
      <p><%= food.description %></p></br>
      <form action="foods/<%= food.id %>/edit">
        <input type="submit" value="Edit">
      </form>
    </li>
    <% end %>
    <% end %>
  </ul>

  <h5> Drinks </h5>
  <ul>
    <% @foods.each do |food| %>
    <% if food.category == "Drink" %>
    <li>
      <strong><%= food.name %> - $<%= food.price/100.00 %></strong></br>
      <p><%= food.description %></p></br>
      <form action="foods/<%= food.id %>/edit">
        <input type="submit" value="Edit">
      </form>
    </li>
    <% end %>
    <% end %>
  </ul>
  <form action="/foods/new">
    <input type="submit" value="New Food Item">
  </form>
</div>
<% end %>
