<!DOCTYPE html>
<html>
<head>
  <title>RestaurantApp</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav>
    <ul>
    	<li class="dropdown"><a href="#"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" id="menu-icon"></a>
    		<ul class="sub-menu">
    			<a id="home" href="/">
          <li>Home</li>
          </a>
    			<a id="food" href="/foods">
          <li>Food Menu</li>
          </a>
          <a id="profile" href="/profile">
          <li>
            <% if current_user.nil? %>
            <%=  %>
            <% else %>
            <%= current_user.name %>'s Profile
            <% end %>
          </li>
          </a>
          <% if current_user.nil? %>
            <%=  %>
            <% else %>
            <a id="profile" href="/users/<%=current_user.id%>/orders">
          <li>
            <% if current_user.nil? %>
            <%=  %>
            <% elsif current_user.level == 0 || current_user.level == 1 %>
            Your Orders
            <% end %>
          </li>
          </a>
            <% end %>
    		</ul>
    	</li>
      <li class="title" style="float:right;font-size:50px;padding:0 20px;">
        Shaky Shack
      </li>
    </ul>
  </nav>
<div class="container">
  <%= yield %>
</div>
<div class="buttony">
  <img class="currency" src="https://cdn3.iconfinder.com/data/icons/currency-5/154/currency-world-england-dollar-euro-exchange-coin-512.png"/>
</div>
</body>
</html>
